.result {
  display: flex;
  flex-direction: column;
}

.provider-container {
  overflow: scroll;
  width: 30%;
}

.container {
  display: flex;
}

body {
  font-family: Sans-Serif;
  background-color: #fff1e5;
  font-size: 10px;
}

#sentiment-api-call {
  display: flex;
  align-items: center;
  justify-content: center;
}

.provider-checkboxes {
  display: flex;
}

.hidden {
  display: none;
}

.sentences-container {
  display: flex;
  flex-direction: column;
}

.documentation-contents > div {
  padding: 10px;
}

.flex {
  display: flex;
}

.section > h3 {
  font-size: 23px;
}
